.app > .head {
    font-size: 20px;
    padding: 20px;
    background: #07c;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.app > .body ul{
    list-style: none;
    margin:0;
    padding:0;

}

.app > .body ul li{
    padding:20px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.app > .body .add-btn{
    display: inline-block;
    padding: 29px 19px 35px 19px;
    font-size: 38px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #07c;
    color: #fff;
    border-radius: 50%;
    line-height: 0;
    outline: 0;
}