<!doctype html>
<html>
    <head>
        <title>메모 앱</title>
        <meta charset="utf-8">
        <!-- 모바일의 형태이기 때문에 viewport -->
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!-- normalize -->
        <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">
        <link href="app.css" rel="stylesheet">
    </head>
    <body>

        <div id="app" class="app">
            <div class="head"> 메모 앱 </div>
            <div class="body">
                <div class="list" v-if="mode === 'list'">
                    <ul>
                        <li v-for="m in memos">{{m.content}}</li>
                    </ul>
                </div>
                <div class="write" v-else>
                    <textarea v-model="memo.content"></textarea>
                    <button class="save-btn" type="button" v-on:click="save()">저장</button>
                    <button class="cancle-btn" type="button" v-on:click="cancle()">취소</button>
                </div>
                <button class="add-btn" type="button" v-on:click="write()" v-if="mode==='list'"> + </button>
            </div>
            <!-- <div v-else="mode ==='write'"> -->
            
        </div>
        <script src="vue.js"></script>
        <script src="app.js"></script>

    </body>
</html>