<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <title>Planet Travels</title>
</head>

<body>
    <!--★★★ slot-scope="변수명"은 el-table 태그에서 바인딩하여 얻어온 객체 하나하나를 "변수명"으로 접근하고 싶을 때 주로 사용한다.-->
    <div id="app">
        <div class="container">
        <h1>Where would like to go?</h1>
        <ul class="list-group">
            <planet_c v-for="(planeta, index) in planets" :key="index" :inside="planeta"></planet_c>
        </ul>
        </div>
    </div>

    <!--보통은 하나의 file단위로 떨어져 있다.-->
    <template id="planet-template">
        <li  class="list-group-item">
            Planet: {{ inside.name }}
            Visited {{ inside.visits }} time(s).
            <button v-if="canBeVisited" @click="visit" class="btn btn-default">
                Visit
            </button>
            <span v-if="inside.visits > 0" class="fa fa-rocket fa-2x pull-right" aria-hidden="true"></span>
        </li>
    </template>
    
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script type="text/javascript">
Vue.component('planet_c', {
    template: '#planet-template',
    // ★★★ 컴포넌트의 매개변수를 'inside'의 이름으로 template에서 사용할 수 있다
    props: ['inside'],
    methods: {
        visit: function () {
            this.inside.visits++;
        },
    },
    computed: {
        canBeVisited: function () {
            return this.inside.visits < 3
        }
    }
});
new Vue({
    el: '#app',
    data: {
        planets: [
            {
            name: 'Mercury',
            visits: 0
            },
            {
            name: 'Venus',
            visits: 0
            },
            {
            name: 'Mars',
            visits: 0
            },
            {
            name: 'Jupiter',
            visits: 0
            }
        ]
    }
})
</script>
</html>