<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
        button {
            background-color: white;
            border : 1px solid gray;
            margin:0 5px;
            cursor: pointer;
        }
        button.active{
            background-color: blue;
            color: white;
            border-color:blue; 
        }
        </style>
    </head>
    <body>

        <div id="app">
            <!-- 배열의 크기만큼 버튼 출력 / 버튼 클릭시 값을 page라고 하는 data에 넣어준다.-->
            <!-- active라는 클래스를 객체로 넣어줌 / true일때만-->
            <button v-for="p in pages" v-bind:class="{'active' : page === p }" v-on:click="page = p">{{ p }}</button>
            <hr>
            <!-- 같은 페이지 일때만 출력 -->
            <div v-for="p in pages" v-if="page === p">
                <p>{{ p }} contents</p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <script>
            //  v-bind 엘리먼트의 속성을 동적으로 바꿀 수 있음 -> v-bind 는 :로 대체 가능
            var app = new Vue({
                    el: '#app',
                    data : {
                      page: 'page1',
                      pages : ['page1', 'page2', 'page3','page4']
                    }
            });
        </script>
    </body>
</html>